In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv("train.csv")
df.drop(columns=["Id"], inplace=True)
df.head(20)

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km)
0,FOLD,PICKUP TRUCK - STANDARD,3.5,6.0,A6,X,8.64 liters per 100 km,6.14 L/100 km,37.59 mpg Imp.,306.0
1,CHEVO,PICKUP TRUCK - STANDARD,5.3,NaN,A6,E,27.27 liters per 100 km,30.76 liters per 100 km,28.84 L/100 km,283.0
2,BMV,SUBCOMPACT,4.4,NaN,M6,Z,0.17 L/10km,2.03 liters per 100 km,zero,329.0
3,KIO,SUV - SMALL,NaN,4.0,AS6,X,6.52 km per L,1.59 L/10km,NaN,270.0
4,BARUSU,MINICOMPACT,3.0,6.0,unspecified,Z,20.15 L/100km,0.60 L/10km,1.38 L/10km,193.0
5,LECUS,COMPACT,unspecified,4.0,not-recorded,Z,5.57 MPG (AS),38.28 mpg Imp.,8.86 MPG (AS),217.0
6,GONDA,FULL-SIZE,1.8,4.0,AV7,X,7.52 L/100km,14.76 mpg Imp.,12.75 L/100 km,174.0
7,LAND CRAWLER,SUV - SMALL,2.0,4.0,AS8,Z,28.55 MPG (AS),2.06 liters per 100 km,18.33 km/L,246.0
8,CHEVO,SUV - STANDARD,3.6,NaN,A9,X,9.16 mpg Imp.,2.08 L/10km,26.31 L/100km,278.0
9,FOLKSWA,COMPACT,2.0,4.0,AS6,X,43.84 km per L,18.13 L/100 km,-9999,202.0
10,TOYOTI,SUV - SMALL,2.5,4.0,AS6,X,27.73 liters per 100 km,2.27 L/100km,zero,216.0
11,BMV,SUBCOMPACT,3.0,6.0,M6,Z,19.01 liters per 100 km,33.07 mpg Imp.,6.99 km per L,236.0
12,TOYOTI,MINIVAN,2.0,4.0,AS6,X,0.22 L/10km,5.30 L/100 km,27.94 km per L,260.0
13,JIPU,SUV - SMALL,missing,6.0,unknown,X,9.06 L/100km,12.21 liters per 100 km,9.54 km/L,308.0
14,TOLVO,COMPACT,3.0,6.0,AS6,NaN,23.39 liters per 100 km,17.53 mpg Imp.,4.97 km/L,248.0
15,KIO,SUV - SMALL,2.4,4.0,NaN,NaN,25.96 liters per 100 km,10.04 km per L,15.06 mpg Imp.,264.0
16,CHEVO,SUV - STANDARD,5.3,NaN,A6,E,35.25 mpg Imp.,22.09 L/100km,14.35 liters per 100 km,311.0
17,FOLD,SUV - STANDARD,2.3,4.0,AS6,X,5.02 liters per 100 km,7.02 liters per 100 km,5.92 liters per 100 km,263.0
18,LAND CRAWLER,SUV - SMALL,NaN,4.0,AS8,Z,6.46 km per L,19.24 km per L,10.86 liters per 100 km,235.0
19,CHEVO,SUV - STANDARD,5.3,8.0,A6,X,15.13 L/100km,42.07 L/100 km,8.63 MPG (AS),335.0

In [13]:
def is_float(num):
    try:
        float(num)
        return True
    except:
        return False
df.dropna(inplace=True)
list_temp=[]
for record in df["Fuel Consumption City"]:
    try:
        list_word=record.split(" ", 1)
        list_temp.append(list_word[1])
    except:
        continue
    
for rec in set(list_temp):
    if(is_float(rec)):
        continue
    else:
        print(rec)

L/10km
MPG (AS)
km/L
liters per 100 km
mpg Imp.
L/100km
L/100 km
km per L

In [14]:
def convert_to_km_l(value, unit):
    if unit=="mpg Imp.":
        return(float(value)/0.354006)
    elif unit=="liters per 100 km" or unit=="L/100 km" or unit=="L/100km":
        return(100/float(value))
    elif unit=="km/L" or unit=="km per L":
        return(float(value))
    elif unit=="L/10km":
        return(10/float(value))
    elif unit=="MPG (AS)":
        return(float(value)/0.4251434788508811)

In [15]:
list_temp=[]
i=0
for record in df["Fuel Consumption City"]:
    try:
        list_word=record.split(" ", 1)
        list_temp.append(convert_to_km_l(list_word[0], list_word[1]))
    except:
        list_temp.append(0)
df["Fuel Consumption City"] = list_temp
list_temp.clear()
for record in df["Fuel Consumption Hwy"]:
    try:
        list_word=record.split(" ", 1)
        list_temp.append(convert_to_km_l(list_word[0], list_word[1]))
    except:
        list_temp.append(0)
df["Fuel Consumption Hwy"] = list_temp
list_temp.clear()
for record in df["Fuel Consumption Comb"]:
    try:
        list_word=record.split(" ", 1)
        list_temp.append(convert_to_km_l(list_word[0], list_word[1]))
    except:
        list_temp.append(0)
df["Fuel Consumption Comb"] = list_temp
list_temp.clear()

for rec in list_temp:
    print(rec)

In [16]:
df.head(10)

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km)
0,FOLD,PICKUP TRUCK - STANDARD,3.5,6.0,A6,X,11.574074,16.286645,106.184641,306.0
4,BARUSU,MINICOMPACT,3.0,6.0,unspecified,Z,4.962779,16.666667,7.246377,193.0
5,LECUS,COMPACT,unspecified,4.0,not-recorded,Z,13.101459,108.133760,20.840023,217.0
6,GONDA,FULL-SIZE,1.8,4.0,AV7,X,13.297872,41.694209,7.843137,174.0
7,LAND CRAWLER,SUV - SMALL,2.0,4.0,AS8,Z,67.153800,48.543689,18.330000,246.0
9,FOLKSWA,COMPACT,2.0,4.0,AS6,X,43.840000,5.515720,0.000000,202.0
10,TOYOTI,SUV - SMALL,2.5,4.0,AS6,X,3.606203,44.052863,0.000000,216.0
11,BMV,SUBCOMPACT,3.0,6.0,M6,Z,5.260389,93.416496,6.990000,236.0
12,TOYOTI,MINIVAN,2.0,4.0,AS6,X,45.454545,18.867925,27.940000,260.0
13,JIPU,SUV - SMALL,missing,6.0,unknown,X,11.037528,8.190008,9.540000,308.0

In [ ]:
df.to_csv("preprocessing.csv")

In [20]:
df[["Fuel Consumption City", "Fuel Consumption Hwy", "Fuel Consumption Comb", "CO2 Emissions(g/km)"]].describe()

,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km)
Fuel Consumption City,1.000000,-0.000095,0.008360,-0.000167
Fuel Consumption Hwy,-0.000095,1.000000,0.025241,-0.001944
Fuel Consumption Comb,0.008360,0.025241,1.000000,-0.069856
CO2 Emissions(g/km),-0.000167,-0.001944,-0.069856,1.000000

In [21]:
df[["Fuel Consumption City", "Fuel Consumption Hwy", "Fuel Consumption Comb", "CO2 Emissions(g/km)"]].corr()

,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km)
Fuel Consumption City,1.000000,-0.000095,0.008360,-0.000167
Fuel Consumption Hwy,-0.000095,1.000000,0.025241,-0.001944
Fuel Consumption Comb,0.008360,0.025241,1.000000,-0.069856
CO2 Emissions(g/km),-0.000167,-0.001944,-0.069856,1.000000

In [12]:
for column in df.columns:
  print(df[column].unique())
  print(" ")

['FOLD' 'CHEVO' 'BMV' 'KIO' 'BARUSU' 'LECUS' 'GONDA' 'LAND CRAWLER'
 'FOLKSWA' 'TOYOTI' 'JIPU' 'TOLVO' 'ASURA' 'NIRRAN' 'FIAR' 'DOGE'
 'CADILUXE' 'MATSUDA' 'MITSU' 'RYUNDAI' 'LAMBOGI']

['PICKUP TRUCK - STANDARD' 'SUBCOMPACT' 'SUV - SMALL' 'MINICOMPACT'
 'COMPACT' 'FULL-SIZE' 'SUV - STANDARD' 'MINIVAN' 'STATION WAGON - SMALL'
 nan 'PICKUP TRUCK - SMALL' 'missing' 'TWO-SEATER'
 'STATION WAGON - MID-SIZE' 'MID-SIZE' 'SPECIAL PURPOSE VEHICLE'
 'VAN - PASSENGER' '-1' 'not-recorded' 'na' 'unspecified' 'unknown'
 'unestablished' 'VAN - CARGO' 'not-available']

['3.5' '5.3' '4.4' nan '3.0' 'unspecified' '1.8' '2.0' '3.6' '2.5'
 'missing' '2.4' '2.3' '1.4' '1.6' '5.0' 'na' '1.3' '6.2' '4.8' '2.7'
 '6.0' '3.2' '6.5' '5.7' '3.7' '1.2' '4.0' '3.3' '1.5' 'not-available'
 '5.2' 'not-recorded' '3.8' '2.8' '-1' 'unknown' 'unestablished' '4.6'
 '6.4' '4.3' '6.6' '5.4' '1.0' '5.6' '5.8' '8.4' '3.4' '4.2' '6.8' '2.2']

['6.0' nan '4.0' '8.0' 'not-available' 'unestablished' '12.0'
 'unspecified' 'not-recorded' '3.0' '-1' 'missing' '5.0' 'unknown' '10.0'
 'na']

['A6' 'M6' 'AS6' 'unspecified' 'not-recorded' 'AV7' 'AS8' 'A9' 'unknown'
 nan 'AV' 'AV8' 'M5' 'A8' 'AV6' 'AS10' 'AM7' 'missing' 'A4' 'A5' 'AS7'
 'AM6' 'AS5' 'not-available' 'na' 'AS9' '-1' 'AM9' 'AV10' 'unestablished'
 'AM8' 'M7' 'A10' 'A7']

['X' 'E' 'Z' nan 'D' '-1' 'missing' 'unspecified' 'not-recorded' 'unknown'
 'unestablished' 'na' 'not-available' 'N']

['8.64 liters per 100 km' '27.27 liters per 100 km' '0.17 L/10km' ...
 '38.92 MPG (AS)' '43.52 L/100km' '33.71 L/100 km']

['6.14 L/100 km' '30.76 liters per 100 km' '2.03 liters per 100 km' ...
 '92.57 mpg Imp.' '49.65 MPG (AS)' '1275.84 mpg Imp.']

['37.59 mpg Imp.' '28.84 L/100 km' 'zero' ... '48.71 mpg Imp.'
 '59.38 MPG (AS)' '32.27 km per L']

[306.         283.         329.         ... 463.29212734 294.86996342
 295.35139834]

In [13]:
#MAPPING
make_mapping = {
  'FOLD': 0, 'CHEVO': 1, 
  'BMV': 2, 'KIO': 3, 
  'BARUSU': 4, 'LECUS': 5, 
  'GONDA': 6, 'LAND CRAWLER': 7, 
  'FOLKSWA': 8, 'TOYOTI': 9, 
  'JIPU': 10, 'TOLVO': 11, 
  'ASURA': 12, 'NIRRAN':13, 
  'FIAR': 14, 'DOGE':15, 
  'CADILUXE':16, 'MATSUDA':17, 
  'MITSU':18, 'RYUNDAI':19, 
  'LAMBOGI':20
}

# ['PICKUP TRUCK - STANDARD' 'SUBCOMPACT' 'SUV - SMALL' 'MINICOMPACT'
#  'COMPACT' 'FULL-SIZE' 'SUV - STANDARD' 'MINIVAN' 'STATION WAGON - SMALL'
#  nan 'PICKUP TRUCK - SMALL' 'missing' 'TWO-SEATER'
#  'STATION WAGON - MID-SIZE' 'MID-SIZE' 'SPECIAL PURPOSE VEHICLE'
#  'VAN - PASSENGER' '-1' 'not-recorded' 'na' 'unspecified' 'unknown'
#  'unestablished' 'VAN - CARGO' 'not-available']

In [14]:
df['Make'] = df['Make'].map(make_mapping)

In [15]:
#['X' 'E' 'Z' nan 'D' '-1' 'missing' 'unspecified' 'not-recorded' 'unknown', 'unestablished' 'na' 'not-available' 'N']
# len(df[df["Fuel Type"=="unknown"]])
df["Fuel Type"].value_counts()

Fuel Type
X                83001
Z                37304
E                 6710
D                 2683
not-recorded      1217
unspecified        686
unknown            633
missing            632
not-available      631
unestablished      599
na                 588
-1                 578
N                   24
Name: count, dtype: int64